@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2'),
       url('/fonts/Lato-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-RegularItalic.woff2') format('woff2'),
       url('/fonts/Lato-RegularItalic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Light.woff2') format('woff2'),
       url('/fonts/Lato-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-LightItalic.woff2') format('woff2'),
       url('/fonts/Lato-LightItalic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format('woff2'),
       url('/fonts/Lato-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-BoldItalic.woff2') format('woff2'),
       url('/fonts/Lato-BoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #292966;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;

  background: #F9F9FA;
}

.page {
  margin: 0 5vw;
}

.page-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.page-header h1 {
  text-align: center;
}

.page-header p {
  margin-top: 20px;
  max-width: 600px;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

.page-header nav {
  margin-top: 20px;
  width: 100%;
}

.page-header nav h1:first-of-type {
  display: none;
}

.page-header nav ul {
  display: flex;
  justify-content: space-around;
}

.page-header nav ul li {
  font-weight: 700;
  font-size: 1.2em;
}

.content {
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
}

.business-card {
  margin-top: 20px;
}

.business-card h1:first-of-type {
  display: none;
}

.avatar {
  max-width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  display: block;
}

.contacts ul li {
  margin-top: 10px;
}

@media only screen and (min-width: 701px) and (max-width: 960px) {
  .content main {
    width: 75%;
  }

  .content .business-card {
    margin-top: 0;
    padding-left: 30px;
    width: 25%;
  }
}

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .content main {
    width: 75%;
  }

  .content .business-card {
    margin-top: 0;
    padding-left: 30px;
    width: 25%;
  }
}

.page-footer {
  margin-top: 30px;
  margin-bottom: 20px;
}

.post-item {
  margin-top: 20px;
}
