<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Bernardo Ferrari's Blog</title>
  <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>
  <div class='page'>
    <header class='page-header'>
      <h1>Bernardo Ferrari&rsquo;s Blog</h1>

      <p>
        I&rsquo;m an undergrad CS student in love with the here and now.
        Occasionally, here and now will mean me writing about other here and now instances of myself.
      </p>

      <nav>
        <h1>Blog Navigation Links</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Posts</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>

    <div class='content'>
      <main>
        {{ content }}
      </main>

      <aside class='business-card'>
        <h1>Business Card</h1>

        <img class='avatar' src='/images/personal_photo.jpg' alt='myself at the grand canyon at sunset' />

        <nav class='contacts'>
          <h1>Contacts</h1>

          <ul>
            <li>
              <p>github</p>
              <a href='https://github.com/tarberd'>/tarberd</a>
            </li>

            <li>
              <p>gitlab</p>
              <a href='https://gitlab.com/tarberd'>/tarberd</a>
            </li>

            <li>
              <p>twitter</p>
              <a href='https://twitter.com/tarberd_'>@tarberd_</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

    <footer class='page-footer'>
      <h1>License</h1>
      The content of this website is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        Creative Commons Attribution-ShareAlike 4.0 International License
      </a>.
    </footer>
  </div>
</body>

</html>
