---
layout: base
---
<main>
  {{ content }}
</main>

<aside class='business-card'>

  <img class='avatar' src='/images/personal_photo.jpg' alt='myself at the grand canyon at sunset' />

  <h1>Bernardo Ferrari</h1>

  <p>
    I&rsquo;m an undergrad CS student in love with the here and now.
    Occasionally, here and now will mean me writing about other here and now instances of myself.
  </p>

  <nav class='business-card-contacts'>
    <h1>Contacts:</h1>

    <ul>
      <li>
        <p><a href='https://github.com/tarberd'>Github/tarberd</a></p>
      </li>

      <li>
        <p><a href='https://gitlab.com/tarberd'>Gitlab/tarberd</a></p>
      </li>

      <li>
        <p><a href='https://www.linkedin.com/in/bernardo-ferrari-58a82a138/'>LinkedIn/bernardo</a></p>
      </li>

      <li>
        <p><a href='https://twitter.com/tarberd_'>Twitter@tarberd_</a></p>
      </li>

      <li>
        <p><a href='mailto:bernardo.mferrari@gmail.com'>bernardo.mferrari@gmail.com</a></p>
      </li>
    </ul>
  </nav>
</aside>
